
@import "tailwindcss";
body {
  background: linear-gradient(to right, rgb(6, 11, 44) , rgb(41, 107, 188) , rgb(6, 11, 44) );
  

  color: white;
}


@keyframes rainbowFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@keyframes twinkle {
    0%, 100% {
      opacity: 0.1;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1);
    }
  }
  
  .twinkling-stars {
    background-image: radial-gradient(yellow 1px, transparent 1px);
    background-size: 30px 30px; /* adjust spacing */
    animation: twinkle 2s infinite ease-out;
    opacity: 0.1;
    z-index: 0;
  }
  @keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }
  
  .animate-gradient-shine {
    animation: shine 4s linear infinite;
  }
  